@model CustomerViewModel


<h1>API Customer Güncelleme</h1>
<br />

<form asp-action="UpdateCustomer" asp-controller="CustomerAPI" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="CustomerID" />

    <label>Müşteri Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />

    <label>Müşteri Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />

    <label>Müşteri Şehri</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />

    <label>Müşteri Ülkesi</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />

    <label>Müşteri Maili</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />

    <button type="submit" class="btn btn-outline-success">Kaydet</button>

</form>
