﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

<partial name="/Views/LayoutPartial/_HeaderLayout.cshtml" />

<body>

    <partial name="/Views/LayoutPartial/_NavbarLayout.cshtml" />

    @RenderBody()

    <partial name="/Views/LayoutPartial/_FooterLayout.cshtml" />

    <partial name="/Views/LayoutPartial/_ScriptsLayout.cshtml" />

</body>

</html>











