@model ForgetPasswordViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<a href="~/lib/bootstrap/css/bootstrap.min.css.map">~/lib/bootstrap/css/bootstrap.min.css.map</a>

<div class="container">
    <br />
    <br />

    <h1>Şifre Yenileme</h1>

    <form method="post">
        <label>Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button id="btnsend" class="btn btn-primary">Linki Gönder</button>
    </form>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $("#btnsend").click(function () {
        alert("Lütfen Mailinizi Kontrol Ediniz");
    });
</script>


