@model ResetPasswordViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<a href="~/lib/bootstrap/css/bootstrap.min.css.map">~/lib/bootstrap/css/bootstrap.min.css.map</a>

<div class="container">
    <br />
    <br />

    <h1>Şifre Yenileme</h1>

    <form method="post">
        <label>Yeni Şifre</label>
        <input type="text" class="form-control" asp-for="Password" />
        <br />
        <label>Şifreyi Doğrulayın</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" />
        <br />
        <button id="btnsend" class="btn btn-primary">Şifreyi Yenile</button>
    </form>

</div>





