@model CreateRoleViewModel


<h1>Yeni Rol Oluşturma</h1>

<form method="post">
    <label>Rol Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>
