

<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Kullanıcı istatistiklerini ve firmamızın istatistiklerini burada bulabilirsiniz. Hedefimiz sizlere daha önce gitmediğiniz yerlerin kapılarını açmaktır. Bu kart ile hedefimize olan yolculuğumuzu takip edebilir, bu yolculuktaki kendi payınızı görebilirsiniz.</p>
                <h4 class="card-title">----------------</h4>
                    <h6>Aktif Rezervasyon Sayınız: 4</h6>
                    <br />
                    <h6>Geçmiş Rezervasyon Sayınız: 12</h6>
                    <br />
                    <h6>Onay Bekleyen Rezervasyon Sayınız: 1</h6>
                    <br />
                    <h6>Toplam Tur Sayısı: 16</h6>
                    <br />
                    <h6>Rehber Sayımız: 6</h6>
                    <br />
                    <h6>Toplam Misafir Sayımız: 12456</h6>
                </p>
            </div>
        </div>
    </div>
</div>





